@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto!important;
    max-width: 133rem!important;
    padding: 0 2.5rem!important;
}

.hero-section{
    font-family: 'Reem Kufi Fun', sans-serif;
}
.hero-section {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


